{
  "cloudant": {
    "username": "your-cloudant-user-name",
    "password": "your-cloudant-password",
    "host": "cloudant-host-id",
    "port": 443,
    "url": "your-cloudant-url"
  },
  "couchdb": {
    "url": "your-couchdb-local-url",
    "urlBase": "your-couchdb-loca-url-without-http://-prefix",
    "username": "your-couchdb-username",
    "password": "your-couchdb-password"
  },
  "useCouchDB": true
}

